---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Maik Lorenz</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer // Backend & Embedded
    </div>
    <div class="py-2">
      <text class="text-lg">
        I am passioned about developing software and hardware solutions that
        make a difference. With almost 10 years of working experience, I have a
        strong background in electrical engineering and industrial sensor
        technology. After my study I got into web development with focus on
        backend and cloud technologies. During my free time I like to build nice
        personal projects to keep on growing and getting hands on with new
        technologies.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/maik-lorenz-5b7780bb/" target="_blank">
        Let's connect!</a
      >
      <a
        href="https://github.com/maikerlab"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Check out my GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Meatometer"
    img="/post_img.webp"
    desc="A simple meat temperature sensor for monitoring the doneness of your meat, implemented on Zephyr OS, tested on a Nordic nRF7002DK board."
    url="https://github.com/maikerlab/meatometer-zephyr"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TODO List"
    img="/post_img.webp"
    desc="A simple TODO list API, built with Rust and the Actix web framework."
    url="https://github.com/maikerlab/rust-todo-list"
    badge="NEW"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
